.burgerConstructorLayout {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 160px;

  .mainProductsList {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 10px;
    width: 100%;

    &__listItem {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      margin-right: 18px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
