.extendedOrderDetails {
  margin-top: 120px !important;
  width: 640px;
  margin: 0 auto;

  header {
    margin-bottom: 40px;
  }

  &__subHeader {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 12px;
    }
  }

  &__subHeader,
  &__ingredients,
  footer {
    text-align: start;
  }

  &__ingredients {
    margin-bottom: 40px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-right: 16px;

      .previewBox, .priceBox {
        display: flex;
        align-items: center;
      }

      .previewBox {
        width: 350px;
        p {
          word-wrap: break-word;
        }
        gap: 16px
      }

      .priceBox {
        p {
          margin-right: 5px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
