.appHeader {
  margin: 0 auto;
  max-width: 1280px;

  nav {
    display: flex;
    align-items: center;

    .menuItemsWrapper {
      display: flex;
      justify-content: space-between;
      gap: 8px;
    }

    .logo {
      margin-left: 118px;
      display: flex;
      align-items: center;
    }

    .personalAccount {
      margin-left: auto;
    }
  }
}
